@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-gradient {
    background: -webkit-linear-gradient(315deg, #42d392 25%, #647eff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.code-type {
    height: 700px;
    width: 100%;
    overflow: hidden;
}

.sctrd-bg {
    background: linear-gradient(
            180.21deg,
            #fff9f9 -64.58%,
            rgba(255, 255, 255, 0.1) 115.31%
        ),
        linear-gradient(90deg, #42d392 0%, #28a36c 25%, #647eff 100%);
}